*.zip
*.log
log/
logs/
log/*
logs/*
./json/site-lookup-table.json
site-lookup-table.json
*desktop.ini
*.html
*.cp
*oauth2.txt
lib/gam-64/oauth2.txt
lib/gam/oauth2.txt
bin/gam-64/oauth2.txt
./bin/gam-64/oauth2.txt
.vscode/
notes.txt
/notes.ps1
/jenkins.ps1
/params.ps1
/bin/roots.pem
/bin/oauth2.txt
/bin/gam.exe
/archive
/lib/Remove-StaffHomeDir.ps1
/Remove-TestAccounts.ps1
/json/site-lookup-table-with-cost-centers.json
/get-new-accouns.sql